<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoCADMountCheme.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoCADMountCheme.My.MySettings.footprint_lookupSQLConnectionString"
            connectionString="Data Source=manson;Initial Catalog=eknis_asu_footprint_lookup;Integrated Security=True" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- В этой секции определяется конфигурация ведения журнала для My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Раскомментируйте следующую секцию для записи в журнал событий приложения -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Раскомментируйте следующую секцию и замените APPLICATION_NAME на имя своего приложения для записи в журнал событий приложения -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AutoCADMountCheme.My.MySettings>
            <setting name="MOUNT_GRAPHICS_PATH" serializeAs="String">
                <value>D:\Autocad Additional Files\MyDatabase\User Graphics\Panel\Mount_Graphics\</value>
            </setting>
        </AutoCADMountCheme.My.MySettings>
    </userSettings>
</configuration>
